
@if (carregando()) {
<p>Carregando produtos...</p>
}

@if (erro()) {
<p style="color: red">
{{ erro() }}
</p>
<button m (click)="carregarProdutos()">Tentar novamente</button>
}

@if (!carregando() && !erro()) {
<p>Total de produtos: {{ totalprodutos() }}</p>
<hr />
@for (item of produtos(); track $index) {
<app-produto [nome]="item.nome" [preco]="item.preco" />
}
}
<section>
<h2>Total de Produtos : {{totalprodutos()}}</h2>
<h3>Valor Total : {{valorTotal() |currency:'BRL'}}</h3>
<h2>
    Produto Selecionado:
    @if (produtosselecionado()) {
        <strong style="color: aqua;">{{produtosselecionado()}} </strong>
    }@else {
        <span style="color: brown;">Nenhum </span>
    }
</h2>

    @for (item of produtos (); track item.nome) {
        <app-produto 
        [nome]="item.nome"
        [preco]="item.preco"
        (produtoselecionado)="exibirProduto($event)"
        >
        
        </app-produto>
        <button mat-raised-button (click)="adicionarAoCarrinho(item)">Adicionar ao Carrinho </button>

        <!-- <h2>{{item.nome }}</h2>
    @if (item.nome) {
        <p>Preço {{item.preco }}</p>
    } -->
} 

<!-- <button (click)="adicionarProduto()">adicionar Produto</button>
<button (click)="substituirProduto()">Substituir Produtos</button> -->

</section>
<hr/> 
<section>
<h2>Carrinho :</h2>
@for (item of carrinho() ; track $index) {
    <p> {{item.nome}} - {{item.preco| currency :'BRL'}}</p>
}
<p><strong>Itens do Carrinho :</strong>{{quantidadeCarrinho()}}</p>
<p><strong>Total do Carrinho : </strong>{{totalCarrinho()}}</p>
</section>

